/*BASIC SETUP*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Get rid of Bootstrap Overflow*/

container,
container-fluid,
row {
  margin: 0;
  padding: 0;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.aligncenter {
  text-align: center;
}

html,
body {
  /*background-image: linear-gradient(#f0ede5, #42ad03);*/
  font-family: "Lato", "Arial", "sans-serif";
  font-weight: 300;
  font-size: 17px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-weight: 600;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

h1{
  text-transform:capitalize;
}

h1,
h2 {
  font-weight: 700;
  word-spacing: 5px;

}

h1 {
  font-size: 250%;
}

h2 {
  font-size: 200%;
}

h3 {
  font-size: 150%;
}

h4 {
  font-size: 130%;
}

p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 2;
  text-align: left;
  max-width: 100ch;
  color: #000;
}

.white {
  font-weight: bolder;
  color: #fff;
}

.bgimg-index1 h1,
.bgimg-index1 h2,
.bgimg-index1 h3,
.bgimg-index2 h2,
.bgimg-index3 h2,
.bgimg-index3 h3,
.bgimg-stake3 h2,
.bgimg-stake3 h3 {
  color: #fff;
  font-size: 30px;
}

.bgimg-index2 h2 {
  color: #000;
}

bgimg-stake3{}

.bgimg-stake1 .caption-middle p {
}

.big-font {
  font-size: 1.6rem;
  font-weight: 600;
}

header,
footer {
  
}

section {
  min-height: 40vh;
}

.section-contactform {
  min-height: 90vh;
}

.section-contactform footer {
  min-height: 5vh;
}

.score-section {
  min-height: 20vh;
}

/*NAV MENU*/

.main-nav {
  list-style: none;
  margin-top: 0px;
  text-align: right;
  border: 0;
  letter-spacing: 6px;
  font-weight: 600;
}

.main-nav li {
  display: inline;
}

nav.filleffect ul li a {
  position: relative;
}

nav.filleffect ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: yellow;
  height: 1px;
}

nav.filleffect ul li a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}
nav.filleffect ul li a:hover {
  color: #fff;
  z-index: 1;
  background-color: black;
}
nav.filleffect ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

nav.filleffect ul li a {
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.main-nav li a {
  float: right;
  margin-right: 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: #115c07;
}

.navbar {
  padding: 0px;
  margin: 0;
}

.navbar-toggler-icon {
  color: black;
}


.logo {
  width: auto;
  height: 120px;
  float: left;
  margin-left: 0px;
}

.content-box,
.content-box-green,
.question-box,
.question-box-green,
.answer {
  background-color: #fff;
  border-radius: 25px;
  padding: 5px 5px;
  vertical-align: center;
  margin: 0 auto;
}

.content-box,
.question-box,
.answer {
  border: 4px solid #000;
  text-transform: capitalize;
  font-size: 15px;
}

.content-box-green,
.question-box-green {
  border: 4px solid #26cf0f;
}

.content-box p,
.content-box-options {
  text-align: center;
  margin: 0 auto;
}

.content-box-options {
  margin-left: 10%;
  margin-right: 10%;
}


.section-aboutus p,
.section-aboutus h1 {
  margin: 0 auto;
}

.section-aboutus h1 {
  font-size: 300%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.section-aboutus p {
  text-align: left;
}
.section-aboutus h1 {
}


.small {
  margin: 5% 5%;
}



.verysmall {
  margin: 2% 30%;
}
.small{
  margin:5% 20%;
}
.section-aboutus, .section-whatwereabout, .section-our-numbers, .section-future-plans{
  margin-bottom:120px;
}
.question-box {
  text-align: center;
  margin: 0 auto;
  margin-left: 20%;
  margin-right: 20%;
}

.question {
  margin-top: 100px;
  padding-top: 40px;
  margin-bottom: 20px;
}

.answer {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

#display-score {
  margin-top: 60px;
}

.score-section .col-12,
.score-section p {
  text-align: center;
}

/*BUTTONS */

.normal-btn {
  font-size: 10px;
  color: #528fcb;
  background-color: #f5f862;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.standard-btn {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border: 4px solid 000;
  border-radius: 25px;
  padding: 20px 30px;
  font-size: 20px;
  font-weight: 700;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.standard-btn:hover,
.normal-btn:hover {
  color: #115c07;
}

.answer-btn {
  margin: 0 auto;
  min-width: 450px;
  max-width: 600px;
  display: block;
  margin-top: 3px;
  margin-bottom: 3px;
}

.form-btn {
}

.addbuttonmargin {
  margin-top: 45px;
}

/*TEXT POSITIONING OVER IMAGES*/

.imageblock {
  position: relative;
  min-height: 400px;
}

.imageblock-big {
  position: relative;
  min-height: 800px;
}

.text-block p {
  text-align: center;
}
.text-block-main {
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  bottom: 250px;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.text-block-main-low {
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  bottom: 80px;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.text-block {
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  bottom: 20px;
}
.position-left {
  left: 40px;
}

.position-right {
  right: 40px;
}

.position-center {
  left: 0;
  right: 0;
}

.bg-form {
  background-image: url("../images/food1.jpg");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  width: 100%;
  min-height: 800px;
}

.bg-quiz {
  background-image: url("../images/wastedfood-4.jpg");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  width: 100%;
  min-height: 40vh;
}

.bg-mission {
  background-image: url("../images/greensfruit.jpg");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  width: 100%;
  min-height: 500px;
}

.bg-white,
.bg-white-short {
  background-color: #fff;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.bg-white {
  min-height: 80vh;
}

.bg-white-short {
  min-height: 400px;
}

/* QUIZ */

.section-quizcontainer{
    margin-bottom: 60px;
}

#container {
  margin: 20px auto;
  background-color: white;
  height: 300px;
  width: 700px;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px;
  position: relative;
}
#start {
  font-size: 1.5em;
  font-weight: bolder;
  word-break: break-all;
  width: 150px;
  height: 150px;
  border: 2px solid black;
  text-align: center;
  cursor: pointer;
  position: absolute;
  left: 300px;
  top: 50px;
  color: black;
}
#start:hover {
  border: 3px solid lightseagreen;
  color: lightseagreen;
}

#qImg {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0px;
  top: 0px;
}
#qImg img {
  width: 200px;
  height: 200px;
  border-top-left-radius: 5px;
}

#question {
  width: 500px;
  height: 125px;
  position: absolute;
  right: 0;
  top: 0;
}
#question p {
  margin: 0;
  padding: 15px;
  font-size: 1.25em;
}

#choices {
  width: 400px;
  position: absolute;
  right: 0;
  top: 100px;
  padding: 10px;
}
.choice {
  display: inline-block;
  width: 300px;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}
.choice:hover {
  border: 2px solid grey;
  font-weight: bold;
}

#timer {
  position: absolute;
  height: 100px;
  width: 200px;
  bottom: 0px;
  text-align: center;
}
#counter {
  font-size: 3em;
}
#btimeGauge {
  width: 150px;
  height: 10px;
  border-radius: 10px;
  background-color: lightgray;
  margin-left: 25px;
}
#timeGauge {
  height: 10px;
  border-radius: 10px;
  background-color: mediumseagreen;
  margin-top: -10px;
  margin-left: 25px;
}
#progress {
  width: 500px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 5px;
  text-align: right;
}
.prog {
  width: 25px;
  height: 25px;
  border: 1px solid #000;
  display: inline-block;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}
#scoreContainer {
  margin: 20px auto;
  background-color: white;
  opacity: 0.8;
  height: 300px;
  width: 700px;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px;
  position: relative;
  display: none;
}
#scoreContainer img {
  position: absolute;
  top: 100px;
  left: 325px;
  height: 100px;
  width: auto;
}
#scoreContainer p {
  position: absolute;
  display: block;
  width: 59px;
  height: 59px;
  top: 190px;
  left: 350px;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

/* classes effects*/

.true {
  background-color: #26cf0f;
  color: #fff;
  font-weight: 900;
  border: 2px solid rgb(0, 183, 255);
  pointer-events: none;
}
.false {
  background-color: red;
  color: #fff;
  font-weight: 900;
  border: 2px solid rgb(0, 183, 255);
  pointer-events: none;
}

.section-quizsection i {
  font-size: 120%;
  margin-left: 10px;
}
.
/*ABOUT US SECTION*/

.section-aboutus,
.section-partners {
  margin-top: 0px;
  margin-bottom: 0px;
}



.greenbg {
  background-color: #115c07;
}

.section-partners .content-box {
  margin-top: 0px;
}

img {
  max-height: 400px;
  margin: 0px;
}

.img-container {
  max-height: 600px;
}

.partner1-img,
.partner2-img,
.partner3-img,
.partner4-img,
.partner5-img{
    width: 100px;
    height: 130px;
    border-radius: 20px;
    margin-right:5px;
    background-position: center center;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}

.partner1-img {
    background-image: url("/assets/images/partner.png");
    background-size: cover;
}

.partner2-img {
    background-image: url("/assets/images/partner2.jpg");
    background-size: cover;
}

.partner3-img {
    background-image: url("/assets/images/partner3.jpg");
    background-size: cover;
}

.partner4-img {
    background-image: url("/assets/images/partner4.jpg");
    background-size: cover;
}

.partner5-img {
    background-image: url("/assets/images/partner5.jpg");
    background-size: cover;
}

/*CONTACT SECTION*/

.section-contactform {
  font-size: 180%;
  padding: 10px;
}

.section-contactform form {
  margin-bottom: 40px;
  margin-top: 30px;
}

.section-contactform input,
textarea {
  width: 600px;
  height: 40px;
}

textarea {
  width: 600px;
  height: 80px;
}

#name {
  margin-top: 30px;
}

.partners {
  martin-top: 0px;
  margin: 0 auto;
  margin-bottom: 0px;
}

.partners img {
  margin: 0px 20px;
  width: 210px;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

/*FOOTER*/

footer {
  color: #fff;
  margin-bottom: 0px;
  text-align: right;
  height:20px;
}

.socialmedia,
.copyright {
  margin: auto 0;
  margin-top: 50px;
}

.copyright p {
  color: #115c07;
  font-size: 110%;
  font-weight: 600;
}

.socialmedia li {
  list-style: none;
  display: inline-block;
  font-size: 200%;
}

.smedia-links li i {
  color: #115c07;
  margin-right: 20px;
  font-size: 130%;
}

/*PARALLAX*/

.bgimg-index1,
.bgimg-index2,
.bgimg-index3,
.bgimg-stake1,
.bgimg-stake2,
.bgimg-stake3 {
  position: relative;
  opacity: 0.8;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-stake1 {
  background-image: url("../images/foodcontrast.jpg");
  min-height: 800px;
}

.bgimg-stake2 {
  background-image: url("../images/whitebg-lemons.jpg");
  min-height: 800px;
}

.bgimg-stake3 {
  background-image: url("../images/vegetables.jpg");
  min-height: 800px;
}

.bgimg-index1 {
  background-image: url("../images/fruits3.jpg");
  min-height: 800px;
}

.bgimg-index2 {
  background-image: url("../images/foodwaste4.jpg");
  min-height: 600px;
}
.bgimg-index3 {
  background-image: url("../images/food4-bw\ .jpg");
  min-height: 500px;
}

.caption,
.caption-2,
.caption-3,
.caption-top,
.caption-middle,
.caption-low,
.caption-vlow {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption {
  left: 0;
  top: 40%;
}

.caption h1,
.caption h2,
.caption h3 {
  margin-left: 10%;
  margin-right: 10%;
  font-weight: 900;
  font-weight: bold;
}
.caption-top {
  left: 0;
  top: 70%;
}

.caption-middle {
  left: 0;
  top: -30%;
}

.caption-top h2 {
  margin-bottom: 0;
}

.caption-low {
  left: 0;
  bottom: 40%;
}

.caption-vlow {
  left: 0;
  bottom: 30%;
}

.section-foodwasteinfo {
}
.section-foodwasteinfo .col-6 {
}

.big-font {
  margin-left: 10%;
  margin-right: 10%;
}

div#map {
    min-height: 360px;
}

.caption-question h2 {
  margin-bottom: 20px;
}
.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.textbox,
.textbox-big {
  margin-top: 50px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  position: absolute;
  opacity: 0.9;
  top: -10px;
  text-align: center;
  border: 2px solid black;
  margin-bottom: 20px;
}

.textbox {
  width: 1100px;
  height: 350px;
}

.textbox-big {
  width: 1200px;
  height: 400px;
}
