/*BASIC SETUP*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Got rid of Bootstrap Overflow*/
container,
container-fluid,
row {
  margin: 0;
  padding: 0;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.aligncenter {
  text-align: center;
}

html,
body {
  /*background-image: linear-gradient(#f0ede5, #42ad03);*/
  font-family: "Lato", "Arial", "sans-serif";
  font-weight: 300;
  font-size: 17px;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3 {
  font-weight: 600;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

h1{
  text-transform:capitalize;
}

h1,
h2 {
  font-weight: 700;
  word-spacing: 5px;
}

h1 {
  font-size: 250%;
}

h2 {
  font-size: 200%;
}

h3 {
  font-size: 150%;
}

h4 {
  font-size: 130%;
}

.darkgreen{
  color:#115c07;
}

p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 2;
  text-align: left;
  max-width: 100ch;
  color: #000;
}

.white {
  font-weight: bolder;
  color: #fff;
}

.bgimg-index1 h1,
.bgimg-index1 h2,
.bgimg-index1 h3,
.bgimg-index2 h2,
.bgimg-index3 h2,
.bgimg-index3 h3,
.bgimg-stake3 h2,
.bgimg-stake3 h3 {
  color: #fff;
  font-size: 30px;
}

.bgimg-index2 h2 {
  color: #000;
}

bgimg-stake3{
  color:#115c07;
}

.big-font {
  font-size: 1.6rem;
  font-weight: 600;
}

section {
  min-height: 40vh;
}

/*NAV MENU*/
.main-nav {
  list-style: none;
  margin-top: 0px;
  text-align: right;
  border: 0;
  letter-spacing: 6px;
  font-weight: 600;
}

.main-nav li {
  display: inline;
}

nav.filleffect ul li a:hover {
  color: #fff;
  z-index: 1;
  background-color: black;
}

nav.filleffect ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

nav.filleffect ul li a {
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.main-nav li a {
  float: right;
  margin-right: 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: #115c07;
}

.navbar {
  padding: 0px;
  margin: 0;
}

.navbar-toggler-icon {
  color: black;
}

.logo {
  width: auto;
  height: 120px;
  float: left;
  margin-left: 0px;
}

.small {
  margin: 5% 5%;
}

.verysmall {
  margin: 2% 30%;
}
.small{
  margin:5% 15%;
}

.section-aboutus, .section-whatwereabout, .section-our-numbers, .section-future-plans{
  margin-bottom:50px;
}

#display-score {
  margin-top: 60px;
}

.score-section .col-12,
.score-section p {
  text-align: center;
}

/*BUTTONS */

.normal-btn {
  font-size: 10px;
  color: #528fcb;
  background-color: #f5f862;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.standard-btn {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border: 4px solid 000;
  border-radius: 25px;
  padding: 20px 30px;
  font-size: 20px;
  font-weight: 700;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.standard-btn:hover,
.normal-btn:hover {
  color: #115c07;
}

.answer-btn {
  margin: 0 auto;
  min-width: 450px;
  max-width: 600px;
  display: block;
  margin-top: 3px;
  margin-bottom: 3px;
}

.addbuttonmargin {
  margin-top: 45px;
}

/*TEXT POSITIONING OVER IMAGES*/

.imageblock {
  position: relative;
  min-height: 400px;
}

.imageblock-big {
  position: relative;
  min-height: 800px;
}

.text-block p {
  text-align: center;
}

.text-block {
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  bottom: 20px;
}

.position-center {
  left: 0;
  right: 0;
}

.bg-form {
  background-image: url("../images/food1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 400px;
}

.bg-quiz {
  background-image: url("../images/wastedfood-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 40vh;
}

/* QUIZ */

.section-quizcontainer, .map-heading{
    margin-bottom: 60px;
}

#container {
  margin: 20px auto;
  background-image: url("../images/quizcontainerbg4.jpg");
  background-size: 700px 300px;
  width: 700px;
  height: 300px;
  box-shadow: 0px 5px 15px 0px;
  border-radius: 4px;  
  position: relative;
  margin-bottom:100px;
  margin-top:50px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

#startbtn {
  width: 150px;
  height: 100px;
  font-size: 1.5em;
  font-weight: bolder;
  word-break: break-all;
  background-color:white;
  border: 2px solid black;
  text-align: center;
  cursor: pointer;
  position: absolute;
  left: 270px;
  top: 100px;
  color: black;
}

#startbtn:hover {
  border: 6px solid #115c07;
  color: #115c07;
}

#questionImage {
  width: 200px;
  height: 200px;
  left: 0px;
  top: 0px;
  position: absolute;
}

#questionImage img {
  border-top-left-radius: 5px;
  width: 200px;
  height: 200px;
  
}

#questiontext {
  height: 125px;
  width: 500px;
  position: absolute;
  top: 0;
  right: 0;
}

#questiontext p {
  font-size: 1.25em;
  margin: 0;
  padding: 15px;
}

#options {
  right: 0;
  top: 100px;
  padding: 10px;
  width: 400px;
  position: absolute;
}

.option {
  border: 1px solid #115c07;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  display: inline-block;
  width: 300px;
  text-align: center;
}

.option:hover {
  border: 2px solid #115c07;
  font-weight: bold;
}

#stopWatch {
  height: 100px;
  width: 200px;
  bottom: 0px;
  position: absolute;
  text-align: center;
}

#counter {
  font-size: 3em;
}

#btimeLeft {
    border-radius: 10px;
    background-color: lightgray;
    margin-left: 25px;
    width: 150px;
    height: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#timeLeft {
  margin-top: -10px;
  margin-left: 25px;
  height: 10px;
  border-radius: 10px;
  background-color: #115c07;
}

#progressCircles {
  padding: 5px;
  text-align: right;
  width: 500px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.prog {
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  width: 25px;
  height: 25px;
  border: 1px solid #000;
  display: inline-block;
}

#scoreContainer {
  margin: 20px auto;
  background-image: url("../images/quizcontainerbg5.jpg");
  background-size: 700px 300px;
  background-position:center;
  opacity: 0.8;
  width: 700px;
  height: 300px;
  border-radius: 4px;
  box-shadow: 0px 4px 16px 0px;
  position: relative;
  display: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

#scoreContainer img {
  position: absolute;
  top: 20px;
  left: 270px;
  height: 150px;
  width: auto;
}

#scoreContainer p {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  font-weight:900;
  color:#fff;
  position: absolute;
  display: block;
  width: 59px;
  height: 59px;
  top: 130px;
  left: 300px;
}

.score-section {
  min-height: 20vh;
}

#resetButton{
  position: relative;
  display: none;
  bottom:110px;
  left:40px;
}

#infoButton{
  position: relative;
  display: none;
  bottom:180px;
  left:420px;
}

/*ABOUT US SECTION*/

.section-aboutus p,
.section-aboutus h1 {
  margin: 0 auto;
}

.section-aboutus h1 {
  font-size: 300%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.section-aboutus p {
  text-align: left;
}

.section-aboutus,
.section-partners {
  margin-top: 0px;
  margin-bottom: 0px;
}

.aboutusimg{
  margin-bottom:20px;
}


.section-aboutus h1,
.section-whatwereabout h2,
.section-future-plans h2,
.section-our-numbers h2{
  color:#115c07;
  font-size: 2.8rem;
  letter-spacing: -.03125rem;
}

.section-future-plans{
  margin-bottom:150px;
}

.greenbg {
  background-color: #115c07;
}

.section-partners .content-box {
  margin:20px 35% 50px 35%;
}

.content-box{
  background-color: #fff;
  border-radius: 25px;
  padding: 5px 5px;
  vertical-align: center;
  margin: 0 auto;
}

.content-box {
  border: 4px solid #115c07;
  text-transform: capitalize;
  font-size: 20px;
}

img {
  max-height: 400px;
  margin: 0px;
}

.img-container {
  max-height: 600px;
}

.partner1-img,
.partner2-img,
.partner3-img,
.partner4-img,
.partner5-img{
    width: 100px;
    height: 180px;
    border-radius: 20px;
    margin-right:15px;
    background-position: center center;
    margin-bottom:20px;
}

.partner1-img {
    background-image: url("../images/partner.jpg");
    background-size: cover;
}

.partner2-img {
    background-image: url("../images/partner2.jpg");
    background-size: cover;
}

.partner3-img {
    background-image: url("../images/partner3.png");
    background-size: cover;
}

.partner4-img {
    background-image: url("../images/partner4.jpg");
    background-size: cover;
}

.partner5-img {
    background-image: url("../images/partner5.jpg");
    background-size: cover;
}

/*CONTACT SECTION*/

.section-contactform {
    padding: 10px;
}

.section-contactform h2{
  font-size:200%;
}

.form-cta{
  margin-top:130px;
  color:#fff;
}

.section-contactform form {
  margin-bottom: 60px;
  margin-top: 20px;
}

.section-contactform input{
  margin-bottom:0px;
}

.section-contactform input,
textarea {
  width: 700px;
  height: 80px;
}

textarea {
  width: 700px;
  height: 100px;
  margin-bottom:-20px;
}

input[type=checkbox]{
  width:30px;
  height:25px;
  text-align:left;
  display:inline-block;
  margin-top:0px;
  margin-bottom:20px;
}

label{
  color:#fff;
  font-size:25px;
  font-weight:bolder;
}

#name {
  margin-top: 30px;
}

.partners {
  margin-top: 0px;
  margin: 0 auto;
  margin-bottom: 0px;
}

.partners img {
  margin: 20px 20px;
  width: 210px;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

.section-contactform {
  min-height: 90vh;
}

.section-contactform footer {
  min-height: 5vh;
}

/*FOOTER*/

footer {
  color: #fff;
  margin-bottom:10px;
  height:20px;
}

.socialmedia,
.copyright {
   margin: auto 0;
  margin-bottom:10px;
   margin-top:20px;
}

.copyright p {
  color: #115c07;
  font-size: 110%;
  font-weight: 600;
  text-align:center;
}

.socialmedia li {
  list-style: none;
  display: inline-block;
  font-size: 200%;
}

.smedia-links li i {
  color: #115c07;
  margin-right: 20px;
  font-size: 130%;
  text-align:center;
}

/*PARALLAX*/

.bgimg-index1,
.bgimg-index2,
.bgimg-index3,
.bgimg-stake1,
.bgimg-stake2,
.bgimg-stake3 {
  position: relative;
  opacity: 0.8;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-stake1 {
  background-image: url("../images/foodcontrast.jpg");
  min-height: 800px;
}

.bgimg-stake2 {
  background-image: url("../images/whitebg-lemons.jpg");
  min-height: 800px;
}

.bgimg-stake3 {
  background-image: url("../images/vegetables.jpg");
  min-height: 800px;
}

.bgimg-index1 {
  background-image: url("../images/fruits3.jpg");
  min-height: 700px;
}

.bgimg-index2 {
  background-image: url("../images/foodwaste4.jpg");
  min-height: 600px;
}
.bgimg-index3 {
  background-image: url("../images/food4-bw\ .jpg");
  min-height: 500px;
}

.caption,
.caption-2,
.caption-3,
.caption-top,
.caption-middle,
.caption-low,
.caption-vlow {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption {
  left: 0;
  top: 40%;
}

.caption h1,
.caption h2,
.caption h3 {
  margin-left: 5%;
  margin-right: 5%;
  font-weight: 900;
  font-weight: bold;
}

.caption-top {
  left: 0;
  top: 70%;
}

.caption-middle {
  left: 0;
  top: -30%;
}

.caption-top h2 {
  margin-bottom: 0;
}

.caption-low {
  left: 0;
  bottom: 40%;
}

.caption-vlow {
  left: 0;
  bottom: 30%;
}

.big-font {
  margin-left: 10%;
  margin-right: 10%;
}

/* MAP */
div#map {
    min-height: 360px;
}

.caption-question h2 {
  margin-bottom: 20px;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

/* THANK YOU SECTION */

.section-thankyoupage{
  margin-top:40px;
  margin-bottom:40px;
}

.section-thankyoupage h1, .section-thankyoupage img{
  margin-bottom:60px;
}

/*MEDIA QUERIES*/
/*Big Tables to 1170px (container-fluid Bootstrap Class max-width */

@media only screen and (max-width:1170px) {
}

/*Small tablets to big tablets - from 768px to 1023px  */

@media only screen and (max-width:1023px) {
   .small{
  margin:0% 10%;
}

.section-aboutus, .section-whatwereabout, .section-our-numbers, .section-future-plans{
  margin-bottom:50px;
}    

.section-aboutus h1,
.section-whatwereabout h2,
.section-future-plans h2,
.section-our-numbers h2,
.quizheading,
.section-partners h2{
    font-size: 2.5rem;
}

.map-heading{
  font-size:2rem;
}

p{
  font-size: 0.9rem;
  max-width: 110ch;
}

.content-box{
  padding:3px;
}

/*Small phones to small tablets - from 481 to 767 px  */

@media only screen and (max-width: 767px) {
.main-nav{
  margin-bottom:20px;
}

.nav-item{
  margin-bottom:10px;
}

.form-cta{
font-size: 80%;
}

.section-contactform input,
  textarea {
  width: 420px;
  height: 60px;
}   

input[type=checkbox]{
  width:20px;
  height:20px;
  margin-top:0px;
}

.formbtn{
  padding: 15px 20px;
  font-size: 18px;
}

label{
  margin-top:10px;
  font-size:18px;
  font-weight:bolder;
}

.form-cta{
  margin-top:100px;
  margin-bottom:10px;
}

textarea {
  margin-bottom:-20px;
}

input[type=checkbox]{
  margin-bottom:20px;
}

.section-aboutus h1,
.section-whatwereabout h2,
.section-future-plans h2,
.section-our-numbers h2
.map-heading,
.quizheading,
.section-general-info-company h1,
.section-general-info-company h2,
.section-how-to-take-action h2,
.section-general-info h2,
.section-partners h2{
    font-size:2.0rem;
}

.section-partners h2{
 font-size: 1.8rem;
}

.partner1-img,
.partner2-img,
.partner3-img,
.partner4-img,
.partner5-img{
    max-width: 330px;
    height: 150px;
    margin-bottom:20px;
}

.section-partners .content-box {
    margin: 20px 25% 50px 25%;
}

p{
  max-width: 90ch;
}

.content-box{
  padding:0px;
}

.socialmedia,
.copyright {
   margin-bottom:5px;
   margin-top:5px;
  }
.small{
  margin:5% 5%;
}

.aboutusimg{
  margin-bottom:30px;
}

.bgimg-stake1,
.bgimg-stake2
{
  min-height:1000px;
}

.bgimg-stake2{
  min-height:1300px;
}

.caption{
  top:20%;
}

.caption-middle{
    top: -50%;
}

.big-font {
  font-size: 1.4rem;
}

.section-foodwastesources h2{
  font-size: 2rem;
}

.section-foodwastesources h3{
  font-size: 1.3rem;
}

.section-foodwastesources h4{
  font-size:1.2rem;
}

#container{
  width:450px;
}

#scoreContainer{
  width:450px;
}

#startbtn {
  left: 160px;
}

#questionImage {
  width: 200px;
  height: 200px;
}

#questionImage img {
  width: 150px;
  height: 150px;
}

#questiontext {
  height: 100px;
  width: 300px;
}

#questiontext p {
  font-size: 1.1em;
  margin-left: 5px;
  padding: 0px;
}

#options {
  left: 150px;
  top: 110px;
  width: 100px;  
}

.option {
  width: 250px;
}

#scoreContainer img {
  top: 10px;
  left: 200px;
  height: 90px;
}

#scoreContainer p {
  font-size: 2.5em;
  width: 59px;
  height: 59px;
  top:70px;
  left: 200px;
}

#resetButton{
  bottom:180px;
  left:120px;
}

#infoButton{
  bottom: 170px;
  left:105px;
}

/*Small phones - from 0 to 480 px  */

@media only screen and (max-width:480px) {
.form-cta{
   font-size: 70%;
}

.section-contactform input,
  textarea {
  width: 350px;
  height: 60px;
}   

textarea {
  margin-bottom:-40px;
}

input[type=checkbox]{
  margin-top:-30px;
  width:15px;
  height:15px;
}

label{
  margin-top:10px;
  font-size:18px;
  font-weight:bolder;
}

.formbtn{
  padding: 12px 18px;
  font-size: 16px;
}

.socialmedia,
.copyright {
   margin-bottom:0px;
   margin-top:0px;
  }

.section-aboutus h1,
.section-whatwereabout h2,
.section-future-plans h2,
.section-our-numbers h2,
.map-heading,
.quizheading,
.section-general-info-company h1,
.section-general-info-company h2,
.section-how-to-take-action h2,
.section-general-info h2{
    font-size:1.6rem;
}

.partner1-img,
.partner2-img,
.partner3-img,
.partner4-img,
.partner5-img{
    max-width: 270px;
    height: 150px;
    margin-bottom:40px;
}

.content-box{
  border-radius: 25px;
  padding: 10px 10px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.content-box {
  font-size: 10px;
  margin-right:0%;
  margin-left:0%;
}

p{
  margin-bottom:20px;
}

.big-font {
  font-size: 1.2rem;
}

.section-take-further-action h2,
.section-take-further-action h3{
  font-size: 1.4rem;
}

.caption-vlow {
 bottom: 10%;
}
.section-foodwastesources .caption-middle{
    top: -30%;
}

.text-block {
  bottom: -20px;
}

#container{
  width:400px;
}

#scoreContainer{
  width:400px;
}

#startbtn {
  left: 120px;
}

#questionImage img {
  width: 130px;
  height: 130px;
}

#questiontext {
  margin-top:10px;
  height: 100px;
  width: 300px;
}

#questiontext p {
  font-size: 0.8rem;
  margin-left: 50px;
  max-width:35ch;
}

#options {
  left: 130px;
  top: 100px;
  width: 100px;  
}

.option {
  width: 250px;
}

#scoreContainer img {
  top: 10px;
  left: 160px;
  height: 90px;
}

#scoreContainer p {
  font-size: 2.5em;
  width: 59px;
  height: 59px;
  top:70px;
  left: 170px;
}

#resetButton{
  left:100px;
}

#infoButton{
  left:85px;
}
}
}
}
